## 4.0. Load Packages

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import json
import numpy as np

## 4.1. Load Business Category Data

In [2]:
# Get top-level business categories
with open("categories.json") as json_file:
    categories = json.load(json_file)

# Dictionary of category keys to the full strings that appear in the dataset
category_dict = {category["alias"]:category["title"] for category in categories}
category_dict_reverse = {category["title"]:category["alias"] for category in categories}

# Categories that we are interested in
#categories_of_interest = ['active', 'arts', 'beautysvc', 'food', 'hotelstravel', 'nightlife', 'restaurants', 'shopping']
categories_of_interest_raw = [category["alias"] for category in categories if category["parents"] == []]
categories_of_interest = [category_dict[cat] for cat in categories_of_interest_raw]

# print(categories_of_interest)
# print(categories_of_interest_raw)

## 4.2. Business Data

### Load Dataset

In [3]:
businesses = pd.read_csv("YelpChallengeWMetros_Clean.csv", encoding='latin-1')

# businesses.head(3)

### Process Categories

In [4]:
# Create indicator columns for each business category (a business may belong to multiple categories)
# such as: is_restaurants or is_shopping
businesses_categories = businesses.copy()

for category_str in categories_of_interest:
    colname = "is_" + category_dict_reverse[category_str]
    businesses_categories[colname] = businesses_categories["categories"].str.contains(category_str).fillna(False)
businesses_categories.head(3)

,business,name,categories,stars,review_count,address,city,state,longitude,latitude,...,is_localflavor,is_localservices,is_massmedia,is_nightlife,is_pets,is_professional,is_publicservicesgovt,is_religiousorgs,is_restaurants,is_shopping
0,N3_Gs3DnX4k9SgpwJxdEfw,Lane Wells Jewelry Repair,"Shopping, Jewelry Repair, Appraisal Services, ...",5,30,"7801 N Lamar Blvd, Ste A140",Austin,TX,-97.711458,30.346169,...,False,True,False,False,False,False,False,False,False,True
1,NVfOn7TdnHbaGH97CVB_Qg,McKinley Chiropractic,"Chiropractors, Health & Medical",5,5,"5625 Eiger Rd, Ste 160",Austin,TX,-97.857409,30.244902,...,False,False,False,False,False,False,False,False,False,False
2,Xw8tuI30T-xihpzwBV-zJg,El Pollo Rey,"Food Trucks, Restaurants, Specialty Food, Food...",5,11,1725 E Riverside Dr,Austin,TX,-97.730141,30.243493,...,False,False,False,False,False,False,False,False,True,False

## 4.3. Counts Data (all metro areas combined) and num_businesses

### counts_df

In [5]:
#Takes the previously calculated metros_counts_final_v2.csv files and concatenates them into 1 file for analysis below
metros = ['Boston', 'Portland', 'Austin', 'Orlando', 'Atlanta', 'Vancouver', 'Columbus', 'Boulder']

counts_df = pd.DataFrame()


for metro in metros:

    suffix = "_v2.csv"
        
    counts_df_metro = pd.read_csv("output_urbcomp/" + metro + "_counts_final" + suffix)
    counts_df_metro["metroarea"] = metro
    counts_df = pd.concat([counts_df,counts_df_metro])
    
counts_df.to_csv("final_output_urbcomp/all_counts_final_v2.csv", index=False)

#### num_businesses

In [6]:

categories_of_interest_small = ['active', 'arts', 'beautysvc', 'food', 'hotelstravel', 'nightlife', 'restaurants', 'shopping']
counts_df_mod_noprofs = counts_df.copy()
for col in ["is_"+col for col in categories_of_interest_small if col != "restaurants"]:
    counts_df_mod_noprofs[col] = np.logical_and(counts_df_mod_noprofs[col] == True, counts_df_mod_noprofs["is_restaurants"] == False)
cols = ["is_"+col for col in categories_of_interest_small]

df_rows = []
# categories_of_interest_small = ['active', 'arts', 'beautysvc', 'food', 'hotelstravel', 'nightlife', 'restaurants', 'shopping']

cols = [counts_df.columns[0]] + list(counts_df.columns[3:45])

for category in categories_of_interest_small:
    df_row = [category]
    q = "is_" + category
    counts_category = counts_df_mod_noprofs.query(q)
    num_bus_in_cat = len(counts_category)
    counts_df_temp = counts_category[cols[1:]]
    df_row.append(num_bus_in_cat)
    df_row.extend(np.count_nonzero(counts_df_temp, axis=0))
    df_rows.append(df_row)
    
num_businesses_df = pd.DataFrame(df_rows,columns = ["category", "num_businesses"] + cols[1:])
    
# num_businesses_df

num_businesses_df.to_csv("final_output_urbcomp/num_businesses.csv", index=False)

## 4.4. counts_df_norm and table

#### Initial Data Prep

In [7]:
metros = ['Boston', 'Portland', 'Austin', 'Orlando', 'Atlanta', 'Vancouver', 'Columbus', 'Boulder']

counts_df_norm = pd.DataFrame()

for metro in metros:
    suffix = "_v2.csv"
        
    counts_df_norm_metro = pd.read_csv("output_urbcomp/" + metro + "_counts_norm_final" + suffix)
    counts_df_norm_metro["metroarea"] = metro
    counts_df_norm = pd.concat([counts_df_norm,counts_df_norm_metro])

#### Table

In [8]:
metros = ['Boston', 'Portland', 'Austin', 'Orlando', 'Atlanta', 'Vancouver', 'Columbus', 'Boulder']
metros = sorted(metros)

# print(metros)

In [9]:
cols = list(counts_df_norm.columns[3:41])
# print(cols)

In [10]:
df = pd.DataFrame(counts_df_norm[cols].mean().sort_values(ascending=False))
#df

for metro in metros:
    counts_df_norm_metro = pd.read_csv("output_urbcomp/" + metro + "_counts_norm_final_v2.csv")
    df[metro] = pd.DataFrame(counts_df_norm_metro[cols].mean().sort_values(ascending=False))
df = df.reset_index()
df = df.rename(columns={"index": "Word", 0: "Total"})
df

,Word,Total,Atlanta,Austin,Boston,Boulder,Columbus,Orlando,Portland,Vancouver
0,friend,33.804432,38.170363,29.798229,36.803044,27.865674,31.683689,25.935353,29.254275,50.024824
1,husband,25.995269,23.441352,27.714613,23.072557,26.335683,33.492668,33.658416,26.555384,17.086610
2,wife,17.656021,14.339346,17.078982,16.194896,18.335786,25.496619,24.312638,17.524192,12.630865
3,boyfriend,12.507301,11.999524,10.701376,15.046056,11.183009,11.239301,12.572060,10.701562,14.608817
4,daughter,9.613763,7.728754,11.358993,8.290963,10.209837,9.889977,13.699108,10.482235,4.655345
5,mother,8.470461,8.058534,7.604727,9.011856,6.987323,9.355530,9.589007,7.967144,8.376795
6,son,8.219784,6.535826,10.509375,6.730260,8.385726,9.432860,11.305546,8.774743,3.941412
7,child,6.745751,5.020901,8.833988,5.342004,6.062716,7.035597,9.361824,7.461666,3.736820
8,girlfriend,5.295986,4.733483,4.647845,6.375159,4.969555,5.282803,5.016992,4.508225,6.515583
9,sister,4.442946,4.678841,3.761399,4.872205,3.512286,4.987914,4.591440,4.100170,4.581450
10,father,3.213713,2.564257,2.953764,3.489963,2.928960,3.909227,3.678106,3.015454,3.205350
11,partner,2.413522,1.887820,1.468787,1.848207,2.324771,1.837173,1.475862,3.579053,5.516733
12,coworker,2.303267,3.509094,1.816621,2.590190,1.758046,2.430218,1.968198,1.593577,2.763319
13,parent,2.080711,1.574244,1.808996,2.234129,1.900459,2.650084,2.373002,1.674345,2.915514
14,brother,2.017761,1.930433,1.654838,2.108711,1.841476,2.278207,2.288382,1.860785,2.351414
15,fiancee,1.893036,1.745737,1.774039,2.831339,1.551829,1.931282,1.497438,1.529890,1.283968
16,housemate,1.193918,0.982298,1.834138,1.932451,1.157694,0.845225,0.593661,0.814633,0.328322
17,neighbor,1.077294,1.421449,2.388201,0.779048,0.637219,0.578926,0.577172,1.073631,0.160378
18,cousin,1.004577,1.313627,0.711530,1.122588,0.886223,0.732802,1.042194,0.813175,1.344562
19,date,0.903455,1.506507,0.700001,0.954401,0.745961,0.979805,0.651729,0.650584,1.175418
20,grandmother,0.774549,0.830500,0.741623,0.762438,0.592389,0.865680,0.749313,0.767888,0.814889
21,niece,0.559050,0.532774,0.473157,0.536136,0.356841,0.773502,0.824438,0.560107,0.337595
22,client,0.458116,0.469766,0.819670,0.387142,0.511929,0.205146,0.297596,0.495758,0.279564
23,boss,0.445710,0.538327,0.455528,0.540470,0.434210,0.442505,0.398839,0.364374,0.303403
24,aunt,0.435106,0.411669,0.335118,0.517184,0.357112,0.441616,0.466360,0.345506,0.583524
25,nephew,0.349010,0.295933,0.334020,0.297261,0.183523,0.512505,0.567030,0.322384,0.254013
26,spouse,0.295270,0.328628,0.257454,0.213285,0.313208,0.341273,0.332172,0.322298,0.383536
27,grandfather,0.192355,0.156752,0.194027,0.175157,0.228765,0.212130,0.197682,0.229994,0.177109
28,uncle,0.190998,0.171306,0.158525,0.205304,0.187215,0.186311,0.164829,0.197695,0.264765
29,grandparents,0.143944,0.093068,0.101898,0.153702,0.174049,0.219678,0.132627,0.138276,0.233070
30,bff,0.142143,0.214767,0.145278,0.121859,0.032264,0.130619,0.116168,0.135970,0.168409
31,relationship,0.102454,0.112876,0.163623,0.119053,0.088507,0.050097,0.047929,0.100145,0.055966
32,boo,0.086255,0.185607,0.092594,0.047697,0.065848,0.061722,0.080199,0.093085,0.054871
33,siblings,0.059126,0.067225,0.036172,0.060427,0.012570,0.035763,0.070056,0.067616,0.077578
34,classmate,0.055583,0.040787,0.071229,0.061475,0.054019,0.095120,0.027932,0.034109,0.088702
35,grandchild,0.042509,0.017182,0.037880,0.037695,0.059121,0.049433,0.066266,0.060935,0.018917
36,teacher,0.041389,0.020464,0.050239,0.073048,0.045644,0.004487,0.020919,0.031595,0.045043
37,professor,0.023721,0.027642,0.023268,0.040491,0.004983,0.035278,0.019346,0.013813,0.000000

In [11]:
df.to_latex(buf="output_urbcomp/table.txt", float_format="%.2f", index=False)

C:\Users\Sandy\AppData\Local\Temp\ipykernel_6832\3439965090.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  df.to_latex(buf="output_urbcomp/table.txt", float_format="%.2f", index=False)

#### counts_df_norm file

In [18]:
categories_of_interest = ['active', 'arts', 'beautysvc', 'food', 'hotelstravel', 'nightlife', 'restaurants', 'shopping']
#creates logic statement for the following query statement, to get those rows where the columns selected are TRUE in at least 1 of the columns
q = " or ".join(["is_"+cat for cat in categories_of_interest])
print(q)

is_active or is_arts or is_beautysvc or is_food or is_hotelstravel or is_nightlife or is_restaurants or is_shopping

In [19]:
counts_df_norm.query(q).copy()

,business_id,num_reviews,num_relationship_words,aunt,bff,boo,boss,boyfriend,brother,child,...,is_localflavor,is_localservices,is_massmedia,is_nightlife,is_pets,is_professional,is_publicservicesgovt,is_religiousorgs,is_restaurants,is_shopping
0,buF9druCkbuXLX526sGELQ,84,250.000000,0.0,0.0,0.0,0.000000,23.809524,0.00000,0.000000,...,False,False,False,True,False,False,False,False,True,False
1,RA4V8pr014UyUbDvI-LW2A,60,66.666667,0.0,0.0,0.0,0.000000,0.000000,0.00000,33.333333,...,False,False,False,False,False,False,False,False,False,True
2,xGXzsc-hzam-VArK6eTvtw,324,225.308642,0.0,0.0,0.0,0.000000,24.691358,3.08642,3.086420,...,False,False,False,True,False,False,False,False,True,False
3,EEHhKSxUvJkoPSzeGKkpVg,110,81.818182,0.0,0.0,0.0,0.000000,18.181818,0.00000,0.000000,...,False,False,False,False,False,False,False,False,True,False
4,zmZ3HkVCeZPBefJJxzdJ7A,544,145.220588,0.0,0.0,0.0,1.838235,27.573529,0.00000,1.838235,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
898,XVZDMELcUCdyWjbEzp4TJg,30,200.000000,0.0,0.0,0.0,0.000000,33.333333,0.00000,0.000000,...,False,False,False,False,False,False,False,False,False,True
900,vuzELvRz164NdHjKJtt9QA,34,58.823529,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,...,False,False,False,True,False,False,False,False,True,False
901,ouid7BM2LlujXJK-FJ62zQ,45,133.333333,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,...,False,False,False,False,False,False,False,False,True,False
902,5tBNQ7Bq5j-WVUqpG495SA,170,117.647059,0.0,0.0,0.0,0.000000,17.647059,0.00000,0.000000,...,False,False,False,False,False,False,False,False,True,False
903,T90-Dkds2374X1eBnMc5NQ,36,138.888889,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,...,False,False,False,False,False,False,False,False,True,False

In [13]:
final_table = counts_df_norm.query(q).copy()

for col in ["is_"+col for col in categories_of_interest if col != "restaurants"]:
    final_table[col] = np.logical_and(final_table[col] == True, final_table["is_restaurants"] == False)

In [15]:
final_table.to_csv("final_output_urbcomp/all_counts_norm_final_v2.csv", index=False)

#### counts_df_norm_formaps file

In [16]:
cols_of_interest = ['business_id', 'num_reviews', 'num_relationship_words',
                    'family', 'romantic', 'friendship', 'professional',
                    'name', 'categories', 'stars', 'review_count',
                    'address', 'city', 'state', 'longitude', 'latitude', 'metroarea']

cols_of_interest.extend(["is_"+cat for cat in categories_of_interest])

In [17]:
counts_df_norm_fewcols = final_table[cols_of_interest]
counts_df_norm_fewcols.to_csv("final_output_urbcomp/all_counts_norm_fewcols_formaps.csv", index=False)